*{
    margin: 5px;
    padding: 0;
    box-sizing: border-box;
   
}
header{
    width:100%;
   
    margin:0%;
    padding: 15px;
    background-color: rgb(63, 62, 62);

    
 
}


.h1Header{
    
    text-align:center;
    color: rgb(231, 154, 10);
    text-transform: uppercase;
    text-shadow: 2px 2px 2px 2px rgb(26, 25, 25);
    letter-spacing: 1px;
    padding: 10px;
    
   
}

h1{
    font-family: 'Merriweather', serif,'Mochiy Pop One', sans-serif;
    
}

h2{
    font-family: 'Merriweather', serif,'Mochiy Pop One', sans-serif;
}
h3{
    font-family: 'Merriweather', serif,'Mochiy Pop One', sans-serif;
}
p{
    font-family: 'Merriweather', serif,'Mochiy Pop One', sans-serif; 
}

.h3Header{
    color: rgb(218, 150, 24);
    text-align: center;
    font-family: 'Merriweather', serif,'Mochiy Pop One', sans-serif;
    text-overflow: clip;
    font-size: 90px;
    
    
}
.imgDePerfil{
    
    width: 180px;
	
    float:left;
    
}
.h1footer{
    padding: auto;
    margin: 0;
    background-color:rgb(63, 62, 62);
    text-align:center;
    color: rgb(218, 150, 24);
    
  
}
.fontFamilyh2-h3-p{
    font-family: "Titillium";
    
}
.fondFamily-h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background: "\fondos\pexels-dom-j-310452.jpg";
    
}
.imagenDeFondo{
    background-position: center top; 
    background-position: center top; 
    background-repeat: no-repeat; 
    background-size: cover;
}

.conteinerImg{
    /*width: */
    height: 3in;
    justify-content: center;
    border-bottom: 90px;
    
    
}
	
	
    
  
    
    
   
